{% extends 'main/base.html' %}

{% block title %}
 Контакты
{% endblock %}

{% block content %}


<div class="news-wrapper">
    <div class="news">
        <h2>Контакты</h2>

        <div class="news-article">
            <img src="https://i.postimg.cc/gjG61Dh6/2.png" alt="" width="300px">
            <div class="news-content">
                <h2>Директор</h2>
                <h4>Рилле Борис Александрович</h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="news-article">
            <img src="https://i.postimg.cc/BQ6jDtBs/3.png" alt="" width="300px">
            <div class="news-content">
                <h2>Главный редактор</h2>
                <h4>Елисеев Георгий Егорович</h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="news-article">
            <img src="https://i.postimg.cc/QNgQSB7T/1.png" alt="" width="300px">
            <div class="news-content">
                <h2>Главный репортёр</h2>
<h4>Лазарева Кира Григорьевна</h4>
     <p></p>
          </div>
        </div>
    </div>
</div>


{% endblock %}